################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Services/Catalog/Catalog.Persistence.Database/obj
/src/Services/Catalog/Catalog.Domain/obj
/src/Services/Catalog/Catalog.Domain/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Persistence.Database/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Api/appsettings.json
/src/Services/Catalog/Catalog.Api/obj
/src/Services/Catalog/Catalog.Api/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Service.Queries/obj
/src/Services/Catalog/Service.Common.Collection/obj
/src/Services/Catalog/Service.Common.Mapping/obj
/src/Services/Catalog/Service.Common.Paging/obj
/src/Services/Service.Common.Collection/bin/Debug/netcoreapp3.1
/src/Services/Service.Common.Collection/obj
/src/Services/Service.Common.Mapping/bin/Debug/netcoreapp3.1
/src/Services/Service.Common.Mapping/obj
/src/Services/Service.Common.Paging/obj
/src/Services/Catalog/Catalog.Service.EventHandlers/obj
/src/Services/Catalog/Catalog.Service.EventHandlers/bin/Debug/netcoreapp3.1
/src/Common.Logging/bin
/src/Common.Logging/obj
/.vs/SolucionEcommerce/v16
/src/Services/Catalog/Catalog.Common/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Common/obj/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Service.Queries/bin/Debug/netcoreapp3.1
/src/Services/Service.Common.Paging/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Common/obj
