################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Services/Catalog/Catalog.Persistence.Database/obj
/src/Services/Catalog/Catalog.Domain/obj
/src/Services/Catalog/Catalog.Domain/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Persistence.Database/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Api/appsettings.json
/src/Services/Catalog/Catalog.Api/obj
/src/Services/Catalog/Catalog.Api/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Service.Queries/obj
/src/Services/Catalog/Service.Common.Collection/obj
/src/Services/Catalog/Service.Common.Mapping/obj
/src/Services/Catalog/Service.Common.Paging/obj
/src/Services/Service.Common.Collection/bin/Debug/netcoreapp3.1
/src/Services/Service.Common.Collection/obj
/src/Services/Service.Common.Mapping/bin/Debug/netcoreapp3.1
/src/Services/Service.Common.Mapping/obj
/src/Services/Service.Common.Paging/obj
/src/Services/Catalog/Catalog.Service.EventHandlers/obj
/src/Services/Catalog/Catalog.Service.EventHandlers/bin/Debug/netcoreapp3.1
/src/Common.Logging/bin
/src/Common.Logging/obj
/.vs/SolucionEcommerce/v16
/src/Services/Catalog/Catalog.Common/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Common/obj/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Service.Queries/bin/Debug/netcoreapp3.1
/src/Services/Service.Common.Paging/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Common/obj
/src/Services/Catalog/Catalog.Tests/bin/Debug/netcoreapp3.1
/src/Services/Catalog/Catalog.Tests/obj
/.vs/SolucionEcommerce
/src/Services/Customer/Customer.Api/obj
/src/Services/Customer/Customer.Domain/bin/Debug/netcoreapp3.1
/src/Services/Customer/Customer.Domain/obj
/src/Services/Customer/Customer.Persistence.Database/bin/Debug/netcoreapp3.1
/src/Services/Customer/Customer.Persistence.Database/obj
/src/Services/Customer/Customer.Service.EventHandlers/bin/Debug/netcoreapp3.1
/src/Services/Customer/Customer.Service.EventHandlers/obj
/src/Services/Customer/Customer.Service.Queries/bin/Debug/netcoreapp3.1
/src/Services/Customer/Customer.Service.Queries/obj
/src/Services/Order/Order.Api/obj
/src/Services/Order/Order.Common/bin/Debug/netcoreapp3.1
/src/Services/Order/Order.Common/obj
/src/Services/Order/Order.Domain/bin/Debug/netcoreapp3.1
/src/Services/Order/Order.Domain/obj
/src/Services/Order/Order.Persistence.Database/bin/Debug/netcoreapp3.1
/src/Services/Order/Order.Persistence.Database/obj
/src/Services/Order/Order.Service.EventHandlers/bin/Debug/netcoreapp3.1
/src/Services/Order/Order.Service.EventHandlers/obj
/src/Services/Order/Order.Service.Proxies/bin/Debug/netcoreapp3.1
/src/Services/Order/Order.Service.Proxies/obj
/src/Services/Order/Order.Service.Queries/bin/Debug/netcoreapp3.1
/src/Services/Order/Order.Service.Queries/obj
/src/Services/Customer/Customer.Api/bin/Debug/netcoreapp3.1
/src/Services/Order/Order.Api/bin/Debug/netcoreapp3.1
/src/Services/Customer/Customer.Persistence.Database/Migrations
/src/Services/Identity/Identity.Api/obj
/src/Services/Identity/Identity.Domain/bin/Debug/netcoreapp3.1
/src/Services/Identity/Identity.Domain/obj
/src/Services/Identity/Identity.Persistence.Database/bin/Debug/netcoreapp3.1
/src/Services/Identity/Identity.Persistence.Database/Migrations
/src/Services/Identity/Identity.Persistence.Database/obj
/src/Services/Identity/Identity.Service.EventHandlers/bin/Debug/netcoreapp3.1
/src/Services/Identity/Identity.Service.EventHandlers/obj
/src/Services/Identity/Identity.Service.Queries/bin/Debug/netcoreapp3.1
/src/Services/Identity/Identity.Service.Queries/obj
/src/Services/Order/Order.Persistence.Database/Migrations
/src/Services/Identity/Identity.Api/bin/Debug/netcoreapp3.1
